Node-CRUD-API/node_modules
Node-CRUD-API/package-lock.json
Node-CURD-API/terraform-nodejs-api-infra/terraform.tfstate
Node-CURD-API/terraform-nodejs-api-infra/terraform.tfstate.backup
Node-CURD-API/terraform-nodejs-api-infra/.terraform