nodejs-crud-docker/node_modules/
nodejs-crud-docker/package-lock.json
terraform-nodejs-api-infra/terraform.tfstate
terraform-nodejs-api-infra/terraform.tfstate.backup
terraform-nodejs-api-infra/.terraform
terraform-nodejs-api-infra/.terraform.lock.hcl
